<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Edit</title>
</head>
<body>
<div>
    <h2>Pet</h2>
    <form th:object="${pet}" th:method="post">
        <div>
            <label for="name">Name</label>
            <input id="name" th:field="*{name}" th:value="${#strings.isEmpty(pet.name)} ? '' : ${pet.name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</span>
        </div>
        <div>
            <label for="birthDate">Birth Date</label>
            <input type="date" id="birthDate" th:field="*{birthDate}" th:value="*{birthDate}">
            <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">error</span>
        </div>
        <div>
            <label for="petType">Type</label>
            <input id="petType" th:field="*{petType.name}" th:value="${#strings.isEmpty(pet.petType.name)} ? '' : ${pet.petType.name}">
            <span th:if="${#fields.hasErrors('petType')}" th:errors="*{petType.name}">error</span>
        </div>
        <div>
            <button th:text="${pet.id == null} ? 'Add Pet' : 'Update Pet'" type="submit">Add pet</button>
        </div>
    </form>
</div>
</body>
</html>