<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet details</title>
</head>
<body>
<div>
    <h2>Pet details</h2>
    <a th:text="'Edit Pet'" th:href="@{/owners/__${pet.owner.id}__/pets/__${pet.id}__/edit}">edit owner</a>
    <table>
        <tbody>
        <tr>
            <th>ID</th>
            <td th:text="${pet.id}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td th:text="${pet.name}"></td>
        </tr>
        <tr>
            <th>Birth Date</th>
            <td th:text="${pet.birthDate}"></td>
        </tr>
        <tr>
            <th>Type</th>
            <td th:text="${pet.petType.name}"></td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>
                <a th:text="${pet.owner.firstName + ' ' + pet.owner.lastName}" th:href="@{/owners/__${pet.owner.id}__}">owner name</a>
            </td>
        </tr>
        <tr>
            <th>Visits</th>
            <td>
                <span th:each="visit : ${pet.visits}" th:text="|${visit.date} |">visit date</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>