<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Pets List</title>
</head>
<body>2
<div>
    <h2>Pets List</h2>
    <a th:href="@{pets/find}">Find Pet</a>
    <table style="border: 1px solid black; border-collapse: collapse; text-align: center; vertical-align: center;">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">Name</th>
            <th style="width: 150px;">Birth Date</th>
            <th style="width: 150px;">Type</th>
            <th style="width: 150px;">Owner</th>
            <th style="width: 200px;">Visits</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet : ${petsList}">
            <td th:text="${pet.id}">id</td>
            <td>
                <a th:text="${pet.name}" th:href="@{/pets/__${pet.id}__}">name</a>
            </td>
            <td th:text="${pet.birthDate}">birth date</td>
            <td th:text="${pet.petType.name}">pet type</td>
            <td>
                <a th:text="${pet.owner.firstName + ' ' + pet.owner.lastName}" th:href="@{/owners/__${pet.owner.id}__}">owner name</a>
            </td>
            <td>
                <span th:each="visit : ${pet.visits}">
                    <a th:text="|${visit.date}|" th:href="|/pets/${pet.id}/visit/${visit.id}|">visit date</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages > 1}">
        <span>Page: </span>
        <a th:if="${currentPage > 1}" th:text="'<'" th:href="@{/pets?page=__${currentPage - 1}__}">previous page</a>
        <span th:text="| ${currentPage} |">current page</span>
        <a th:if="${totalPages > 1 && currentPage != totalPages}" th:text="'>'" th:href="@{/pets?page=__${currentPage + 1}__}">next page</a>
    </div>
</div>
</body>
</html>