<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner Edit</title>
</head>
<body>
<div>
    <h2>Owner</h2>
    <form th:object="${owner}" th:method="post">
        <div>
            <label for="firstName">First Name</label>
            <input id="firstName" th:field="*{firstName}" th:value="${#strings.isEmpty(owner.firstName)} ? '' : ${owner.firstName}">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">error</span>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input id="lastName" th:field="*{lastName}" th:value="${#strings.isEmpty(owner.lastName)} ? '' : ${owner.lastName}">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{firstName}">error</span>
        </div>
        <div>
            <label for="address">Address</label>
            <input id="address" th:field="*{address}" th:value="${#strings.isEmpty(owner.address)} ? '' : ${owner.address}">
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{firstName}">error</span>
        </div>
        <div>
            <label for="city">City</label>
            <input id="city" th:field="*{city}" th:value="${#strings.isEmpty(owner.city)} ? '' : ${owner.city}">
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{firstName}">error</span>
        </div>
        <div>
            <label for="telephone">Telephone</label>
            <input id="telephone" th:field="*{telephone}" th:value="${#strings.isEmpty(owner.telephone)} ? '' : ${owner.telephone}">
            <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{firstName}">error</span>
        </div>
        <div>
            <button th:text="${owner.id == null} ? 'Add Owner' : 'Update Owner'" type="submit">Add owner</button>
        </div>
    </form>
</div>
</body>
</html>