<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Owners</title>
</head>
<body>
<div>
    <h2>Find Owners</h2>
    <form th:object="${owner}" th:action="@{/owners}" th:method="get">
        <label for="lastName">Last Name</label>
        <input id="lastName" th:field="*{lastName}" size="30" maxlength="30">
        <p th:if="${#fields.hasAnyErrors()}" th:each="error : ${#fields.allErrors()}" th:text="${error}">Error</p>
        <button type="submit">Find Owner</button>
    </form>
</div>
</body>
</html>