<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner details</title>
</head>
<body>
<div>
    <h2>Owner details</h2>
    <a th:text="'Edit Owner'" th:href="@{__${owner.id}__/edit}">edit owner</a>
    <a th:text="'New Pet'" th:href="@{__${owner.id}__/pets/new}">add pet</a>
    <table>
        <tbody>
        <tr>
            <th>ID</th>
            <td th:text="${owner.id}"></td>
        </tr>
        <tr>
            <th>First Name</th>
            <td th:text="${owner.firstName}"></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td th:text="${owner.lastName}"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="${owner.address}"></td>
        </tr>
        <tr>
            <th>City</th>
            <td th:text="${owner.city}"></td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td th:text="${owner.telephone}"></td>
        </tr>
        <tr>
            <th>Pets</th>
            <td>
                <span th:each="pet : ${owner.pets}">
                    <a th:text="|${pet.name}|" th:href="|/owners/${pet.owner.id}/pets/${pet.id}|">pet name</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>