<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/header :: header (~{::body})}">

<body>
<div class="d-flex w-75 mx-auto text-black flex-column flex-wrap mt-4 mb-5">
    <h2>Owners list</h2>
    <div class="col-md-8">
        <a th:href="@{owners/find}" class="btn btn-primary">Find Owner</a>
        <a th:href="@{owners/new}" class="btn btn-primary">New Owner</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="align-middle">
            <th style="width: 50px;" scope="col">ID</th>
            <th style="width: 150px;" scope="col">Name</th>
            <th style="width: 200px;" scope="col">Address</th>
            <th style="width: 150px;" scope="col">City</th>
            <th style="width: 150px;" scope="col">Telephone</th>
            <th style="width: 150px;" scope="col">Pets</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${ownersList}" class="align-middle">
            <td th:text="${owner.id}">id</td>
            <td>
                <a th:text="${owner.firstName + ' ' + owner.lastName}" th:href="|/owners/${owner.id}|">name</a>
            </td>
            <td th:text="${owner.address}">address</td>
            <td th:text="${owner.city}">city</td>
            <td th:text="${owner.telephone}">telephone</td>
            <td>
                <span th:each="pet : ${owner.pets}">
                    <a th:text="|${pet.name}|" th:href="@{/owners/__${owner.id}__/pets/__${pet.id}__}">pet name</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center">
            <li th:class="'page-item'+${(currentPage > 1) ? '' : ' disabled'}"><a class="page-link" th:href="@{/owners?page=__${currentPage - 1}__}">Previous</a></li>
            <li class="page-item disabled"><a class="page-link" th:text="${currentPage}"></a> </li>
            <li th:class="'page-item'+${(totalPages > 1 && currentPage != totalPages) ? '' : ' disabled'}"><a class="page-link" th:href="@{/owners?page=__${currentPage + 1}__}">Next</a></li>

        </ul>
    </nav>
</div>
</body>
</html>