<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header (template)">
<head>
    <meta charset="UTF-8">
    <title>Spring Pet Clinic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-dark navbar-expand-lg sticky-top bg-primary">
        <div class="container-fluid w-75">
            <div class="justify-content-center">
                <ul class="navbar-nav ml-auto topnav text-underline-hover h5">
                    <li class="nav-item">
                        <a class="nav-link btn" th:href="@{/owners}">Owners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" th:href="@{/pets}">Pets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" th:href="@{/vets}">Vets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" th:href="@{/visits}">Visits</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="container xd-container">
            <th:block th:insert="${template}" />
        </div>
    </div>
</body>
</html>